.container {
  padding: 20px;

  .title {
    display: flex;
    align-items: center;
    h1 {
      font-size: 2rem;
      margin-right: 20px;
    }
    span {
      width: auto;
      height: 30px;
      color: white;
      background-color: rgba(#ffffff, .3);
      border: 1px solid gray;
      border-radius: 15px;
      padding: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  h2 {
    font-size: 1.2rem;
  }

  form {
    margin-bottom: 10px;
    label {
      display: inline-block;
      width: 50px;
      margin-right: 10px;
      position: relative;

      &::after {
        content: ":";
        position: absolute;
        right: 0;
      }
    }

    select {

    }

    input {

    }

  }

}